---
import BaseLayout from "..//layouts/BaseLayout.astro";
import CTA from "../components/CTA.astro";
import Landing from "../components/Landing.astro";

// Optimize our landing image and pass it as props to the BaseLayout (for preloading) and Landing (for rendering)
import { getOptimizedImage } from "../js/utils";
import landingImage from "../assets/images/mountain-banner.jpg"; // <-- THE PATH TO THE ASSET YOU WANT TO PRELOAD - The asset must live in src
const optimizedImage = await getOptimizedImage(landingImage);
---

<BaseLayout
  title="FAQs"
  description="Meta description for the page"
  preloadedImage={optimizedImage}
>
  <!-- ============================================ -->
  <!--                    LANDING                   -->
  <!-- ============================================ -->

  <Landing title="Frequently Asked Questions" image={optimizedImage} />

  <!-- ============================================ -->
  <!--                     FAQ                      -->
  <!-- ============================================ -->

  <section id="faq-1263">
    <div class="cs-container">
      <div class="cs-content">
        <!-- <span class="cs-topper">Frequently Asked Questions</span> -->
        <!-- <h2 class="cs-title">Frequently Asked Questions</h2> -->
      </div>
      <ul class="cs-faq-group">
        <!-- Active class added as default -->

        <li class="cs-faq-item cs-active">
          <button class="cs-button">
            <span class="cs-button-text">
            Do I really need a website for my business?
            </span>
          </button>
          <p class="cs-item-p">
            The short answer is, it depends. If you are looking to grow your business, then a website goes a long way. 
            Apart from reach more customers, your website allows you to build credibility, and showcase your products or services, in your own way.
          </p>
        </li>

        <li class="cs-faq-item">
          <button class="cs-button">
            <span class="cs-button-text">
              How long will it take to complete my website?
            </span>
          </button>
          <p class="cs-item-p">
            This depends a lot on project size, complexity and availability of content for the website. But for a typical 5-page website, it usually takes at most 2 weeks.
            This also varies widely based on how promptly you give feedback.
          </p>
        </li>
        
        <li class="cs-faq-item">
          <button class="cs-button">
            <span class="cs-button-text">
              Do you offer refunds?
            </span>
          </button>
          <p class="cs-item-p">
            Yes, we offer full refunds if you are not satisfied with our services. We go to great lengths ensure your expectations are exceeded evertytime. With the sheer effort we put into making your project a success, it probably won't come to that.
          </p>
        </li>

        <li class="cs-faq-item">
          <button class="cs-button">
            <span class="cs-button-text">
              Why don’t you use WordPress for your web designs? 
            </span>
          </button>
          <p class="cs-item-p">

            While WordPress is well-known, it has A LOT of drawbacks. It can limit how unique your site looks, and using too many add-ons can slow it down - meaning potential clients will leave your website before it even loads! <br/>Security is also a concern, as it's a common target for hackers. Additionally, keeping a WordPress site up to date can be a headache. <br/>We prefer to build custom websites that are faster, more secure, and easier to manage, so your site fits your business perfectly.

          
          </p>
        </li>  

        <li class="cs-faq-item">
          <button class="cs-button">
            <span class="cs-button-text">
              Can you redesign my existing website?
            </span>
          </button>
          <p class="cs-item-p">
             Yes, we can. We'll redesign the website and add our magic sauce to it. Everything will be optimized for perfomance, making sure your website is blazing fast. This goes a long way in keeping your visitors on the website.  
          </p>
        </li>
        

        <li class="cs-faq-item">
          <button class="cs-button">
            <span class="cs-button-text">
            What if I need help after my website has been launched?
            </span>
          </button>
          <p class="cs-item-p">
            We offer <a href="/services"> maintenance services</a> to ensure your website stays up-to-date, and functions as intended all through.
          </p>
        </li>

        <li class="cs-faq-item">
          <button class="cs-button">
            <span class="cs-button-text">
            What if I need help after my website has been launched?
            </span>
          </button>
          <p class="cs-item-p">
            We offer <a href="/services" style="color: var(--primary);"> maintenance services</a> to ensure your website stays up-to-date, and functions as intended all through.
          </p>
        </li>
      </ul>
      <p class="more-questions">Could'nt find the answer you're looking for? <a href="https://api.whatsapp.com/send/?phone=254746938311&text&type=phone_number&app_absent=0"> Send a text</a> and we'll get back to you in 30 minutes or less.</p>
    </div>
    
    
    
  </section>

  <CTA />
</BaseLayout>

<style lang="less">
  /* PAGE-SPECIFIC STYLES FOR THE PROJECTS PAGE */

  /*-- -------------------------- -->
<---            FAQ             -->
<--- -------------------------- -*/

  /* Mobile - 360px */
  @media only screen and (min-width: 0rem) {
    #faq-1263 {
      padding: var(--sectionPadding);
      background-color: #f7f7f7;
      position: relative;
      overflow: hidden;
      z-index: 1;

      .cs-container {
        width: 100%;
        max-width: (1280/16rem);
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* 40px - 48px */
        gap: clamp(2.5rem, 5vw, 3rem);
      }

      .cs-content {
        /* set text align to left if content needs to be left aligned */
        text-align: center;
        width: 100%;
        display: flex;
        flex-direction: column;
        /* centers content horizontally, set to flex-start to left align */
        align-items: center;
      }

      .cs-title {
        margin: 0;
        color: var(--secondary);
      }

      .cs-faq-group {
        width: 100%;
        max-width: (846/16rem);
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        /* 16px - 20px */
        gap: clamp(1rem, 2.4vw, 1.25rem);
      }

      .cs-faq-item {
        list-style: none;
        width: 100%;
        background-color: #fff;
        color: var(--secondaryLight1);
        border-radius: (8/16rem);
        padding: 0;
        box-sizing: border-box;
        transition: border-bottom 0.3s;

        &.active {
          .cs-button {
            color: var(--primary);
            &:before {
              background-color: var(--primary);
              transform: rotate(315deg);
            }
            &:after {
              background-color: var(--primary);
              transform: rotate(-315deg);
            }
          }

          .cs-item-p {
            height: auto;
            margin-top: (12/16rem);
            /* 16px - 24px */
            padding-top: (12/16rem);
            padding-bottom: (24/16rem);
            color: var(--secondary);
            opacity: 0.8;

            &:before {
              /* border top */
              content: "";
              height: 1px;
              background: #7d799c;
              opacity: 1;
              position: absolute;
              display: block;
              top: 0;
              left: (24/16rem);
              right: (24/16rem);
            }
          }
        }
      }
      a{
        color:var(--primary);
        font-size: inherit;
      }
       .more-questions{
        // color: var(--bodyTextColorWhite);
        font-size: 1.2rem;
       }
      .cs-button {
        /* 16px - 20px */
        font-size: clamp(1rem, 2vw, 1.25rem);
        line-height: 1.2em;
        text-align: left;
        font-weight: bold;
        width: 100%;
        padding: (24/16rem) (24/16rem) 0;
        border: none;
        background: transparent;
        color: var(--secondary);
        overflow: hidden;
        display: flex;
        justify-content: flex-start;
        align-items: stretch;
        /* 16px - 24px */
        gap: clamp(1rem, 2.5vw, 1.5rem);
        position: relative;
        transition:
          background-color 0.3s,
          color 0.3s;

        &:hover {
          cursor: pointer;
        }

        &:before {
          /* left line */
          content: "";
          width: (8/16rem);
          height: (2/16rem);
          background-color: var(--secondary);
          opacity: 1;
          border-radius: 50%;
          position: absolute;
          display: block;
          top: 67%;
          right: (19/16rem);
          transform: rotate(45deg);
          /* animate the transform from the left side of the x axis, and the center of the y */
          transform-origin: left center;
          transition: transform 0.5s;
        }

        &:after {
          /* right line */
          content: "";
          width: (8/16rem);
          height: (2/16rem);
          background-color: var(--secondary);
          opacity: 1;
          border-radius: 50%;
          position: absolute;
          display: block;
          top: 67%;
          right: (16/16rem);
          transform: rotate(-45deg);
          /* animate the transform from the right side of the x axis, and the center of the y */
          transform-origin: right center;
          transition: transform 0.5s;
        }
      }

      .cs-button-text {
        width: 90%;
        padding: 0;
        display: block;

      }

      .cs-item-p {
        /* 14px - 16px */
        font-size: clamp(0.875rem, 1.5vw, 1rem);
        line-height: 1.5em;
        width: 100%;
        height: 0;
        margin: 0;
        /* 16px - 24px */
        padding: 0 (24/16rem) (24/16rem);
        /* prevents padding and border from affecting height and width */
        box-sizing: border-box;
        opacity: 0;
        color: var(--secondary);
        /* clips the text so it doesn't show up */
        overflow: hidden;
        position: relative;
        transition:
          opacity 0.3s,
          padding-bottom 0.3s,
          padding-top 0.3s;
      }

      
    }
  }
</style>
