---
import BaseLayout from "../layouts/BaseLayout.astro";
import CTA from "../components/CTA.astro";
import ContactCard from "../components/contactCard.astro";

// Optimize our landing image and pass it as props to the BaseLayout (for preloading) and Landing (for rendering)
import { getOptimizedImage } from "../js/utils";
import landingImage from "../assets/images/landing.jpg"; // <-- THE PATH TO THE ASSET YOU WANT TO PRELOAD - The asset must live in src
const optimizedImage = await getOptimizedImage(landingImage);
---

<BaseLayout
  title="Home"
  description="Website design services | SEO services | Website maintenance"
  preloadedImage={optimizedImage}
>
  <!-- ============================================ -->
  <!--                    Hero                      -->
  <!-- ============================================ -->

  <section id="hero-1059">
    <div class="cs-container">
      <div class="cs-flex-wrapper">
        <div class="cs-content">
          <h1 class="cs-title">
            <span style="color: var(--primary);"> Strategic Web Design</span>
            <br /> For Small Businesses
          </h1>
          <p class="cs-text">
            We make your website work for you, so you can focus on what you do
            best - your business.
          </p>
          <a
            href="https://api.whatsapp.com/send/?phone=254746938311&text&type=phone_number&app_absent=0"
            target="_blank"
            class="cs-button-solid"
          >
            <span>Let's chat</span>
            <img
              src="/assets/svgs/whatsapp-white.svg"
              alt="whatsapp icon"
              aria-hidden="true"
            />
          </a>
        </div>
        <div class="cs-hero-image">
          <picture>
            <img
              decoding="async"
              src="/assets/svgs/undraw-hero-desktop.svg"
              alt="desktop image"
              class="responsive-svg"
              aria-hidden="true"
              
            />
          </picture>
        </div>
      </div>
    </div>
  </section>

  <!-- ============================================ -->
  <!--                  USP Points                   -->
  <!-- ============================================ -->

  <section id="services" class="services">
    <!-- Get Icons From flaticon.com -->
    <div class="card">
      <picture>
        <img
          aria-hidden="true"
          decoding="async"
          src="/assets/svgs/code-p.svg"
          alt="appliance"
          width="48"
          height="48"
          class="code-icon"
          loading="lazy"
        />
      </picture>
      <h2>Custom website design</h2>
      <p>
        No wordpress. No page-builders. Everything is hand-coded to ensure fast
        load times and security for your website.
      </p>
    </div>
    <div class="card">
      <picture>
        <img
          aria-hidden="true"
          decoding="async"
          src="/assets/svgs/time-left-p.svg"
          alt="appliance"
          width="48"
          height="48"
          loading="lazy"
        />
      </picture>
      <h2>24/7 customer support</h2>
      <p>
        We are available around the clock. Call or text, and talk to a real
        human in real time. No automated messages here.
      </p>
    </div>
    <div class="card">
      <picture>
        <img
          aria-hidden="true"
          decoding="async"
          src="/assets/svgs/verified-p.svg"
          alt="appliance"
          width="48"
          height="48"
          loading="lazy"
        />
      </picture>
      <h2>100% secure websites</h2>
      <p>
        Never worry about downtime. Since we hand-code everything, your website
        is more secure. You can count on it staying online, all the time.
      </p>
    </div>
  </section>

  <!-- ============================================ -->
  <!--                 Side By Side                 -->
  <!-- ============================================ -->

  <section id="sbs">
    <div class="cs-container">
      <!-- Left Image Section -->
      <div class="cs-left">
        <picture class="cs-picture cs-picture1">
          <source
            media="(max-width: 600px)"
            srcset="/assets/images/sbs-device-renders2.jpg"
          />
          <source
            media="(min-width: 601px)"
            srcset="/assets/images/sbs-device-renders2.jpg"
          />
          <img
            aria-hidden="true"
            decoding="async"
            src="/assets/images/sbs-device-renders2.jpg"
            alt="cabinets"
            loading="lazy"
            width="400"
            height="563"
            loading="lazy"
          />
        </picture>
      </div>
      <!-- Right Content Section-->
      <div class="cs-right">
        <span class="cs-topper">our offer</span>
        <h2 class="cs-title">Why choose us?</h2>
        <p class="cs-text">
          70% to 80% of consumers research a company online before visiting it
          or making a purchase.
        </p>
        <span
          >- Blue Corona’s report on online presence and consumer behavior.</span
        >
        <p class="cs-text">
          We are in the digital era, and it is vital that the modern-day
          business have an online presence. The thing is, most businesses have
          not fully grasped how to leverage their online presence into growing
          their businesses.
        </p>
        <p class="cs-text">
          It's clear that a functional website is vital for your business. Now
          let's get into why we are best suited to help you make an impact with
          your online presence:
        </p>

        <ul>
          <li class="list-items">
            <div>
              <img src="/assets/svgs/checkmark-red.svg" alt="checkmark icon" loading="lazy" />
              <h3>Local SEO</h3>
            </div>
            <p>
              Local SEO is integrated into every website we make. This means
              potential clients are able to find you easily through google.
            </p>
          </li>
          <li>
            <div>
              <img src="/assets/svgs/checkmark-red.svg" alt="checkmark icon" loading="lazy" />
              <h3>Mobile First Design.</h3>
            </div>
            <p>
              Recent studies show that 90% of traffic to website is from mobile
              devices. Hence, every site we work on is optimized for mobile from
              the start
            </p>
          </li>
          <li>
            <div>
              <img src="/assets/svgs/checkmark-red.svg" alt="checkmark icon" loading="lazy" />
              <h3>Research-driven content</h3>
            </div>

            <p>
              All content made for your website will be research-driven,
              prioritizing SEO and making sure that customers discover you
              easily.
            </p>
          </li>
          <li>
            <div>
              <img src="/assets/svgs/checkmark-red.svg" alt="checkmark icon"  loading="lazy"/>
              <h3>Fast and lightweight websites</h3>
            </div>

            <p>
              Fast and lightweight websites. A fast website is immensely crucial
              in retaining your visitors and ensuring they are able to
              understand what you and your website can offer them.
            </p>
          </li>
        </ul>

        <a href="/about" class="cs-button-solid">More About Us</a>
      </div>
    </div>
  </section>

  <!-- ============================================ -->
  <!--                  Services                    -->
  <!-- ============================================ -->

  <section id="services-285">
    <div class="cs-container">
      <div class="cs-content">
        <span class="cs-topper">our services</span>
        <h2 class="cs-title">Here's What We Do</h2>
        <!-- <p class="cs-text"></p>      -->
      </div>
      <ul class="cs-card-group">
        <li class="cs-item">
          <a href="/services" class="cs-link">
            <picture class="cs-picture">
              <img
                class="cs-icon comp-icon"
                src="/assets/svgs/computer.svg"
                loading="lazy"
                decoding="async"
                alt="icon"
                width="38"
                height="52"
                aria-hidden="true"

              />
            </picture>
            <h3 class="cs-h3">Website Design & Development</h3>
            <p class="cs-item-text">
              Every business is different in terms of its goals and
              requirements. We blend the latest design trends with your brand's
              identity, to come up with a website that best defines you.
            </p>
          </a>
        </li>
        <li class="cs-item">
          <a href="/services" class="cs-link">
            <picture class="cs-picture">
              <img
                class="cs-icon"
                src="/assets/svgs/bar-chart.svg"
                loading="lazy"
                decoding="async"
                alt="icon"
                width="38"
                height="52"
                aria-hidden="true"
              />
            </picture>
            <h3 class="cs-h3">Local Search Engine Optimization</h3>
            <p class="cs-item-text">
              Local SEO is a simply a way to make google and other search
              engines rank your website favourably. This means potential clients
              find you easily, therefore more business for you.
            </p>
          </a>
        </li>
        <li class="cs-item">
          <a href="/services" class="cs-link">
            <picture class="cs-picture">
              <img
                class="cs-icon"
                src="/assets/svgs/maintenance.svg"
                loading="lazy"
                decoding="async"
                alt="icon"
                width="38"
                height="52"
                aria-hidden="true"
              />
            </picture>
            <h3 class="cs-h3">Website maintenance</h3>
            <p class="cs-item-text">
              Once your project is completed, we don't simply deliver and forget
              about it. The website requires regular updates and minor tweaks,
              to ensure everything works as intended. Check out our website
              maintenance package for more information.
            </p>
          </a>
        </li>
      </ul>
      <a href="/services" class="cs-button-solid">Learn more</a>
    </div>
  </section>

  <!-- ============================================ -->
  <!--                   Steps                      -->
  <!-- ============================================ -->

  <section id="steps-889">
    <div class="cs-container">
      <div class="cs-content">
        <span class="cs-topper">Our Process</span>
        <h2 class="cs-title">How We Work</h2>
        <p class="cs-text">
          We go through a simple 3-step process to ensure a seamless experience
          for your from beginning to completion.
        </p>
      </div>
      <ul class="cs-card-group">
        <li class="cs-item">
          <picture class="cs-picture">
            <span>1</span>
          </picture>
          <h3 class="cs-h3">Discover</h3>
          <p class="cs-item-p">
            The first step is all about understanding your goals and
            requirements. We take a collaborative approach to have a complete
            picture of your vision, to better tailor solutions for you.
          </p>
        </li>

        <li class="cs-item">
          <picture class="cs-picture">
            <span>2</span>
          </picture>
          <h3 class="cs-h3">Design</h3>
          <p class="cs-item-p">
            After a thorough understanding of your goals and vision, we get to
            work. We do all necessary research into your industry to craft
            content and design that meets all necessary standards.
          </p>
        </li>

        <li class="cs-item">
          <picture class="cs-picture">
            <span>3</span>
          </picture>
          <h3 class="cs-h3">Deliver</h3>
          <p class="cs-item-p">
            Once your project is ready, all necessary tweaks are made to ensure
            everything runs smoothly for launch. We do website maintenance for
            your site to ensure everything runs smoothly.
          </p>
        </li>
      </ul>
      <a href="/contact" class="cs-button-solid">Get A Quote</a>
    </div>

    <picture class="cs-background">
      <img src="/assets/svgs/topography.svg" alt="background image" />
    </picture>
  </section>

  <!-- ============================================ -->
  <!--                   Gallery                    -->
  <!-- ============================================ -->

  <section id="gallery-43">
    <div class="cs-container">
      <div class="cs-content">
        <span class="cs-topper">Our Portfolio</span>
        <h2 class="cs-title">Here's Some Of Our Work</h2>
        <p class="cs-text">
          We build sites that perform. But don't simply take our word for it -
          check out some of our work.
        </p>
      </div>
      <ul class="cs-image-group">
        <!-- Image 1 -->
        <li class="cs-item">
          <a class="cs-link" href="#">
            <picture class="cs-picture">
              <img
                loading="lazy"
                decoding="async"
                src="/assets/images/evergreen-mockup-cropped.jpg"
                alt="modern house"
                width="400"
                height="400"
              />
            </picture>
            <h3 class="cs-h3">Evergreen Landscaping Website</h3>
            <p class="cs-text">
              The evergreen landscaping website features optimized images and
              fast load times, which significantly increases visitor retention
              on the website.
            </p>
            <span class="cs-button-secondary">Visit Website</span>
          </a>
        </li>

        <!-- Image 2 -->
        <li class="cs-item">
          <a class="cs-link" href="#">
            <picture class="cs-picture">
              <img
                loading="lazy"
                decoding="async"
                src="/assets/images/acme-plumbing-cropped.jpg"
                alt="modern house"
                width="400"
                height="400"
              />
            </picture>
            <h3 class="cs-h3">Acme Plumbing Website</h3>
            <p class="cs-text">
              The Acme Plumbing website is a prime example of SEO optimized
              content. This means that google ranks it favourably, and its
              accessibility compliance is an added advantage.
            </p>
            <span class="cs-button-secondary">Visit Website</span>
          </a>
        </li>
      </ul>
    </div>
  </section>

  <!-- ============================================ -->
  <!--                   Contact                    -->
  <!-- ============================================ -->

  <ContactCard />
  <CTA />
</BaseLayout>

<style lang="less">
  /* STYLES FOR ABOVE THE FOLD */

  /*-- -------------------------- -->
<---           Hero             -->
<--- -------------------------- -*/

  /* Mobile - 360px */
  @media only screen and (min-width: 0rem) {
    #hero-1059 {
      /* Centers button */
      text-align: left;
      /* 200px - 300px - leaving extra space for the navigation */
      padding: clamp(12.5rem, 31.95vw, 18.75rem) (16/16rem) 0;
      /* 130px - 200px */
      padding-bottom: clamp(8.125rem, 16.5vw, 12.5rem);
      position: relative;
      z-index: 1;
      background-color: var(--secondary);
      
      gap: clamp(2rem, 4vw, 2rem);

      .cs-container {
        max-width: 1280px;
        margin: 0 auto;
        padding: 0 1rem;
      }

      /* Flex wrapper for layout control */
      .cs-flex-wrapper {
        display: flex;
        gap: 2rem;
        align-items: center;
        flex-direction: column; /* Default to column for mobile */
        text-align: center; /* Center align text by default */
      }

      /* Content section styles */
      .cs-content {
        width: 100%;
        max-width: 600px; /* Prevent content from getting too wide */
      }

      .cs-title {
        margin-bottom: 1rem;
        color: var(--bodyTextColorWhite);
      }

      .cs-text {
        margin-bottom: 1.5rem;
        color: var(--bodyTextColorWhite);
      }
      .cs-button-solid {
        color: var(--bodyTextColorWhite);
        display: flex;
        justify-content: center;
        max-width: 200px;
        gap: 0.5rem;

        span {
          font-size: 1.1rem;
        }

        img {
          width: (24/16rem);
          
        }
      }

      /* Hero image container */
      .cs-hero-image {
        width: 100%;
        max-width: 500px;
        margin: 0 auto;
      }

      /* Responsive SVG styles */
      .responsive-svg {
        width: 100%;
        height: auto;
        max-width: 100%;
        display: block;
      }
    }
  }

  /* Tablet - 768px */
  @media only screen and (min-width: 48rem) {
    #hero-1059 {
      .cs-hero-image {
        max-width: 400px;
      }
    }
  }

  /* Desktop */
  @media only screen and (min-width: 1024px) {
    #hero-1059 {
      .cs-flex-wrapper {
        flex-direction: row; /* Switch to row layout */
        justify-content: space-between;
        text-align: left; /* Left align text */
        gap: 4rem; /* Increase gap for desktop */
      }

      .cs-content {
        flex: 1; /* Allow content to take up available space */
      }

      .cs-hero-image {
        flex: 1;
        max-width: 500px;
      }
    }
  }

  /* Large Desktop */

  @media (min-width: 1280px) {
    .cs-container {
      padding: 0 2rem;
    }
  }

  /*-- -------------------------- -->
<---          USP Points          -->
<--- -------------------------- -*/

  /* Mobile */
  @media only screen and (min-width: 0em) {
    .services {
      width: 90%;
      max-width: (1320/16em);
      margin: auto;
      margin-top: (-20/16em);
      margin-bottom: (30/16em);
      padding: (50/16em) (20/16em);
      background-color: white;
      box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.05);
      border-top: (6/16em) solid var(--primary);
      border-radius: (5/16em);
      position: relative;
      z-index: 3;
      // border: 1px solid red;

      .card {
        width: 100%;
        
        max-width: (357/16em);
        margin: auto;
        margin-bottom: (50/16em);
        display: block;
        &:last-of-type {
          margin-bottom: 0;
        }

        picture {
          width: (88/16em);
          height: (88/16em);
           
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
 

          img {
            width: (48/16em);
            height: (48/16em);
             
          }
        }
        h2 {
          font-size: (30/16em);
          font-weight: 700;
          line-height: 27/20em;
          text-align: left;
          margin-bottom: 1rem;
          color: #1a1a1a;
        }
        p {
          line-height: 24/18em;
          text-align: left;
          width: 100%;
          opacity: 0.7;
       
        }
      }
    }
  }

  /* Inbetween */
  @media only screen and (min-width: 768px) {
    .services {
      font-size: ~"min(1.8vw, 1em)";
      width: 98%;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      margin-top: (-120/16em);

      .card {
        max-width: (325/16em);
        margin: 0;
      }
    }
  }

  /* Large Desktop */
  @media only screen and (min-width: 1300px) {
    .services {
      padding: (50/16em) (80/16em);
      margin-top: (-120/16em);

      .card {
        max-width: (357/16em);
      }
    }
  }

  /* PAGE-SPECIFIC STYLES FOR THE HOME PAGE */

  /*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/

  /* Mobile - 360px */
  @media only screen and (min-width: 0em) {
    #sbs {
      padding: var(--sectionPadding);
      background-color: #fff;

      .cs-container {
        width: 100%;
        max-width: (1280/16rem);
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
     
      }

      .cs-left {
        /* scaling the font size with the view width */
        font-size: ~"min(2.31vw, .7em)";
        /* using ems so we can use font size to scale the whole section */
        width: (631/16em);
        height: (636/16em);
        position: relative;
      }

      .cs-picture {
        border-radius: (24/16em);
        display: block;
        position: absolute;
        /* clips img tag corners */
        overflow: hidden;
        img {
          width: 100%;
          height: 100%;
          /* makes image act like a background image */
          object-fit: contain;
          position: absolute;
          top: 0;
          left: 0;
          
        }
      }

      .cs-picture1 {
        width: (522/16em);
        height: (581/16em);

        
        margin: auto;
      }

      .cs-right {
        max-width: (542/16rem);
        margin: auto;
      

        ul {
          list-style: none;

          li {
       
            margin-bottom: 1.2rem;

            div {
              display: flex;
              justify-content: flex-start;
              flex-wrap: wrap;
              gap: (8/16rem);
    
            }
            img {
              width: (26/16rem);
            }
            p {
              padding-left: 2rem;
            }
          }
        }
      }

      .cs-topper {
        text-align: left;
        margin-bottom: (4/16rem);
      }

      .cs-title {
        text-align: left;
        max-width: (800/16rem);
      }

      .cs-text {
        text-align: left;
        max-width: (750/16rem);
        margin-bottom: (16/16rem);

        &:last-of-type {
          margin-bottom: (32/16rem);
        }
      }

      .cs-button-solid {
        margin-top: (32/16rem);
        color: var(--bodyTextColorWhite);
      }
    }
  }

  /* Desktop - 1024px */
  @media only screen and (min-width: 64em) {
    #sbs {
      .cs-container {
        flex-flow: row;
        justify-content: space-around;
        gap: (32/16rem);
      }

      .cs-left {
        font-size: ~"min(1.2vw, 1em)";
        flex: none;
      }

      .cs-right {
        margin: 0;
      }
    }
  }

  /*-- -------------------------- -->
<---          Services          -->
<--- -------------------------- -*/

  /* Mobile - 360px */
  @media only screen and (min-width: 0rem) {
    #services-285 {
      /* centers the button */
      text-align: center;
      padding: var(--sectionPadding);
      background-color: var(--lightGray);

      .cs-container {
        width: 100%;
        max-width: (1280/16rem);
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* 48px - 64px */
        gap: clamp(3rem, 6vw, 4rem);
      }

      .cs-content {
        /* set text align to left if content needs to be left aligned */
        text-align: center;
        width: 100%;
        display: flex;
        flex-direction: column;
        /* centers content horizontally, set to flex-start to left align */
        align-items: center;
      }

      .cs-card-group {
        width: 100%;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: column;
        row-gap: (16/16rem);
      }

      .cs-item {
        list-style: none;
        width: 100%;
        max-width: (500/16rem);
        /* 32px - 40px top & bottom */
        /* 28px - 40px left & right */
        padding: clamp(2rem, 3vw, 2.5rem) clamp(1.75rem, 3vw, 2.5rem);
        background-color: #fafbfc;
        box-sizing: border-box;
        transition:
          background-color 0.3s,
          transform 0.3s;

        &:hover {
          background-color: var(--primary);
          transform: translateY(-0.4375rem);

          .cs-picture {
            &:before {
              width: 100%;
              height: 100%;
              opacity: 1;
            }
          }

          .cs-h3,
          .cs-item-text {
            color: #fff;
          }
        }
      }

      .cs-link {
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }

      .cs-picture {
        margin: 0;
        margin-bottom: (24/16rem);
        /* 68px - 88px */
        width: clamp(4.25rem, 4vw, 5.5rem);
        height: clamp(4.25rem, 4vw, 5.5rem);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
         
        border: 2px solid var(--primary);
        position: relative;
        z-index: 1;

        &:before {
          /* floating hover box */
          content: "";
          width: 130%;
          height: 130%;
          background-color: transparent;
          opacity: 0;
          border-radius: 50%;
          background-color: #fff;
          position: absolute;
          display: block;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          /* prevents the mouse from interacting with it */
          pointer-events: none;
          z-index: -1;
          transition:
            width 0.5s,
            height 0.5s,
            opacity 0.4s;
        }
      }

      .comp-icon {
        filter: grayscale(1) brightness(1000%);
      }

      .cs-h3 {
        font-size: (20/16rem);
        font-weight: 900;
        text-align: center;
        line-height: 1.2em;
        margin: 0;
        margin-bottom: (12/16rem);
        color: var(--headerColor);
        transition: color 0.3s;
      }

      .cs-item-text {
        font-size: (16/16rem);
        text-align: center;
        line-height: 1.5em;
        margin: 0;
        color: var(--bodyTextColor);
        transition: color 0.3s;
      }

      .cs-button-solid {
        font-size: (16/16rem);
        /* 46px - 56px */
        line-height: clamp(2.875rem, 5.5vw, 3.5rem);
        text-decoration: none;
        font-weight: 700;
        text-align: center;
        margin: 0;
        color: #fff;
        min-width: (150/16rem);
        padding: 0 (24/16rem);
        background-color: var(--primary);
  
        display: inline-block;
        position: relative;
        z-index: 1;
        /* prevents padding from adding to the width */
        box-sizing: border-box;

        &:before {
          content: "";
          position: absolute;
          height: 100%;
          width: 0%;
          background: #000;
          opacity: 1;
          top: 0;
          left: 0;
          z-index: -1;
          border-radius: (4/16rem);
          transition: width 0.3s;
        }

        &:hover {
          &:before {
            width: 100%;
          }
        }
      }
    }
  }

  /* Tablet - 768px */
  @media only screen and (min-width: 48rem) {
    #services-285 {
      .cs-card-group {
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: nowrap;
        /* 16px - 20px */
        column-gap: clamp(1rem, 2vw, 1.25rem);
      }
    }
  }

  /*-- -------------------------- -->
<---          Steps             -->
<--- -------------------------- -*/

  /* Mobile - 360px */
  @media only screen and (min-width: 0rem) {
    #steps-889 {
      padding: var(--sectionPadding);
      background-color: var(--secondary);
      background-color: #16171a;
      position: relative;
      z-index: 1;

      .cs-container {
        width: 100%;
        max-width: (1280/16rem);
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* 48px - 64px */
        gap: clamp(3rem, 6vw, 4rem);
        // border: 1px solid red;
      }

      .cs-content {
        /* set text align to left if content needs to be left aligned */
        text-align: center;
        width: 100%;
        display: flex;
        flex-direction: column;
        /* centers content horizontally, set to flex-start to left align */
        align-items: center;
      }

      .cs-topper,
      .cs-title {
        color: var(--bodyTextColorWhite);
      }

      .cs-text {
        max-width: (1064/16rem);
        color: var(--bodyTextColorWhite);
      }

      .cs-button-solid {
        color: var(--bodyTextColorWhite);
      }

      .cs-card-group {
        width: 100%;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* 20px - 40px */
        gap: clamp(4rem, 7vw, 6rem);
      }

      .cs-item {
        text-align: center;
        list-style: none;
        width: 100%;
        max-width: (326/16rem);
        
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
       
        padding: 0px 32px 50px 32px;
        background-color: var(--secondaryLight1);
     
      }

      .cs-picture {
        margin-top: (-30/16rem);
        margin-bottom: (30/16rem);

        width: (72/16rem);
        height: (72/16rem);
       
        background-color: hsl(348, 94%, 45%);
         
        display: flex;
        justify-content: center;
        align-items: center;
        span {
          font-size: 2.5rem;
          font-weight: 900;
          color: var(--bodyTextColorWhite);
        }
      }

      .cs-h3 {
        font-size: (20/16rem);
        line-height: 1.2em;
        text-align: inherit;
        margin: 0 0 (12/16rem) 0;
        color: var(--bodyTextColorWhite);
      }

      .cs-item-p {
        font-size: (16/16rem);
        line-height: 1.5em;
        text-align: inherit;
        margin: 0;
        color: var(--bodyTextColorWhite);
      }

      .cs-arrow {
        /* 48px - 80px */
        width: clamp(3rem, 6vw, 5rem);
        height: auto;
        display: block;
        flex: none;
        transform: rotate(120deg);
      }

      .cs-arrow-img {
        width: 100%;
        display: block;
      }

      .cs-icon {
        width: (32/16rem);
        height: auto;
        display: block;
      }

      .cs-background {
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -2;

        img {
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          object-fit: cover;
          object-position: top;
        }
      }
    }
  }

  /* Tablet - 768px */
  @media only screen and (min-width: 48rem) {
    #steps-889 {
      .cs-card-group {
        flex-direction: row;
        justify-content: space-between;
        align-items: stretch;
      }

      .cs-arrow {
        align-self: center;
        transform: rotate(40deg);
      }
    }
  }

  /*-- -------------------------- -->
<---          Gallery           -->
<--- -------------------------- -*/

  /* Mobile - 360px */
  @media only screen and (min-width: 0rem) {
    #gallery-43 {
      padding: var(--sectionPadding);
      position: relative;
      /* Prevents overflow from the image going off screen */
      overflow: hidden;
      // background-color:var(--lightGray);

      .cs-container {
        width: 100%;
        max-width: (1104/16rem);
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        /* 48px - 64px */
        gap: clamp(3rem, 6vw, 4rem);
      }

      .cs-content {
        /* set text align to left if content needs to be left aligned */
        text-align: center;
        width: 100%;
        display: flex;
        flex-direction: column;
        /* centers content horizontally, set to flex-start to left align */
        align-items: center;
      }

      .cs-image-group {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
 
        margin: 0;
        padding: 0;
        /* 16px - 20px */
        gap: clamp(1rem, 1.5vw, 1.25rem);
      
      }

      .cs-item {
        padding: 1.5rem;
      
        list-style: none;
        box-shadow: 0 5px 11px rgb(230, 230, 230);
       
      }

      .cs-link {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        height: 100%;
        text-decoration: none;
        position: relative;
        z-index: 1;
      }

      .cs-button-secondary {
        justify-self: flex-end;
        margin-top: auto;
      }

      .cs-picture {
     

        z-index: -1;
        position: relative;
        display: block;
        margin: 0;
        height: clamp(12.5rem, 25vw, 16.875rem);
        width: 100%;
        overflow: hidden;

        img {
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          object-fit: contain;
          // border: 1px solid blue;
          padding: 0 1.25rem;
        }
      }

      .cs-h3 {
        margin-bottom: 0.5rem;
      }
      .cs-text {
        margin-bottom: 0.75rem;
      }
    }
  }

  /* In Between - 600px */
  @media only screen and (min-width: 37.5rem) {
    #gallery-43 {
      .cs-image-group {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: 1fr;
      }

      .cs-item {
        grid-column: span 6;
      }
    }
  }

  /* Tablet - 768px */
  @media only screen and (min-width: 48rem) {
    #gallery-43 {
      .cs-item {
        grid-column: span 6;
      }
    }
  }
</style>
